In [ ]:
1 

a = "Tushar" # string
a = [ 12, 12.4, 'Tushar'] # list
a = ( 12, 12.4, 'Tushar') # tuple
a =  12.34 # float

In [ ]:
2
var 1 --> String
var 2 --> List
var 3 --> List
var4 -->  float

In [ ]:
3
/ --> used to dividing first operand by second
% --> used to take out remainder when no. is divided
// --> used to dividing first operand by second
** --> used to give exponent of a number

In [93]:
4
t = [ 12, 12.34, 'Tushar', 'T', True, [ 12, 12.34, 'Tushar', 'T', True, ], ( 12, 12.34, 'Tushar', 'T', True,), range(10),]
for i in t :
    print(i)
    print(type(i))

12
<class 'int'>
12.34
<class 'float'>
Tushar
<class 'str'>
T
<class 'str'>
True
<class 'bool'>
[12, 12.34, 'Tushar', 'T', True]
<class 'list'>
(12, 12.34, 'Tushar', 'T', True)
<class 'tuple'>
range(0, 10)
<class 'range'>

In [45]:
5
a = int(input("Enter the value of A: "))
b = int(input("Enter the value of B: "))

count = 0

while a % b == 0:
    count += 1
    a = a / b

if count > 0:
    print("Number A is divisible by B ", count, " times.")
else:
    print("Number A is not divisible by B.")

SyntaxError: unmatched ')' (4031563325.py, line 1)

In [44]:
6
m = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in m :
    if ( i%3==0):
        print(i)
    else:
        print("Number is not divisile by 3")

3
6
9
12
15
18
21
24

In [68]:
7
Mutable--> Mutable data type are those data type which can be changed according
        our needs in list

SyntaxError: invalid syntax (1639449888.py, line 2)

In [83]:
s = [1, 2320, 'Tushar']
print(s)
s[1]=2
print(s)

[1, 2320, 'Tushar']
[1, 2, 'Tushar']

In [ ]:
immutable--> Immutable data type are those data type which cannot be changed according
        our needs in list or

In [86]:
a = "Tushar"
print(a)
a[1]="a"
print(a)

Tushar

TypeError: 'str' object does not support item assignment