In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [159]:
#1
import pandas as pd

In [160]:
df=pd.Series([4, 8, 15, 16, 23, 42])

In [161]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [162]:
#2
var=[1,2,3,4,5,6,7,8,9,7787]

df=pd.Series(var)

In [163]:
print(df)

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9    7787
dtype: int64

In [164]:
type(var)

list

In [165]:
#3
table={"Name":["Alice","Bob","Claire"],  "Age":[25,30,27],  "Gender":["Female","Male","Female"]}
df1=pd.DataFrame(table)

In [166]:
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [167]:
#4
#DataFrame in Pandas is a two-dimensional labeled data structure with columns of potentially different types. 
#It is similar to a spreadsheet or SQL table, with named columns and numbered rows.

In [168]:
#A Pandas Series is a one-dimensional labeled array of data, while a DataFrame is a two-dimensional labeled array of data. This means that a Series can only have one column, while a DataFrame can have multiple columns

In [169]:
data1=[1,2,3,4]#this is 1-D data stored in series it has only one column
df2=pd.Series(data1)
print(df2)

0    1
1    2
2    3
3    4
dtype: int64

In [170]:
data2={"Name":["ScoutOP","Akshat","Omega","Snax"],  "Level":[88,95,93,85],  "Player_Info":["T1 Player","T1 Player","T1 Player","Content Creator"]}
df3=pd.DataFrame(data2)#this represents 2-D data stored in the form of structured table format with many columns.
print(df3)

      Name  Level      Player_Info
0  ScoutOP     88        T1 Player
1   Akshat     95        T1 Player
2    Omega     93        T1 Player
3     Snax     85  Content Creator

In [171]:
#5
#Function used to manipulate are:-
#head() is used to see first five top data df.head()
#tail() is used to see last five bottom data df.tail()
#rename() is used to remane a column df.rename(columns={"column_name":"New_columnName"})
#drop() is used to drop a row or column df.drop(0) 
#replace() is used to replace a value to new value df.replace(10,100)
#loc() is used to access specific row or column data df.loc[0]

In [172]:
#6
#Series(1-D):- 
#Values are mutable but size of series is immutable this means values can be changed but we cannot add or remove element from series

#DataFrame(2-D):-
#Values are mutable and also size of dataframe is also mutable we can add or remove rows and columns from the DataFrame 

#Panel(3-D):-
##Values are mutable and also size of Panel is also mutable we can add,remove and slice  rows and columns from the Panel

In [173]:
#7
PlayerName=["Viper","Mamba","Binks"]
Games=["BGMI","BGMI","VALORANT"]
Type=["Moderate Player","Moderate Player","Pro Player"]

s1=pd.Series(PlayerName)
s2=pd.Series(Games)
s3=pd.Series(Type)

In [174]:
dff=pd.DataFrame({"Players":s1, "Games":s2,  "Genere":s3} )

In [176]:
print(dff)

  Players     Games           Genere
0   Viper      BGMI  Moderate Player
1   Mamba      BGMI  Moderate Player
2   Binks  VALORANT       Pro Player